@import "../../styles/variables.scss";

.btn {
  display: inline-block;
  margin: 0;
  border-radius: 30px;
  border: 0;
  padding: 0.6em 1.7em;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $color-gray;
  background-image: none;
  outline: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08),
    -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #ffffff,
    5px 5px 20px #d3d3d3;
  transition: all 0.25s;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($color-gray, 2%);
  }
  &:active {
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.8),
      inset -6px -6px 5px rgba(255, 255, 255, 0.3),
      inset 1px 1px 3px rgba(0, 0, 0, 0.15),
      inset 6px 6px 5px rgba(0, 0, 0, 0.06);
  }

  &--disabled,
  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    color: $text-color;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}
