@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.app-header {
  padding: 20px 0;
  margin-bottom: 50px;
}

.app-header__inner {
  display: flex;
  align-items: center;
  max-width: $container + 30px;
  padding: 0 15px;
  margin: 0 auto;
}

.app-header__btns {
  display: flex;
  gap: 20px;
  margin-left: auto;

  .whatsapp-link {
    @include media-down(md) {
      display: none;
    }
  }

  .btn--order {
    @include media-down(sm) {
      display: none;
    }
  }
}
